<!-- From 13.17 -->
<h1>Eat-Da-Burger!</h1>


<div class="row">
  <h2>To Make List</h2>
  <ol>
    {{#each burger_name}}
      {{#if devoured}}
        <button data-id="{{this.id}}" class="devourBurger">Devour</button>
      {{/if}}
    {{/each}}
  </ol>

  <h2>Devoured List</h2>
  <ol>
    {{#each burger_name}}
      {{#unless devoured}}
      {{/unless}}
    {{/each}}
  </ol>
</div>

<div class="row">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="bur">Burger Name:</label>
      <input type="text" id="bur" name="name">
    </div>

    <button type="submit">Confirm Burger</button>
  </form>
</div>
